$primary-gradient: linear-gradient(to right, #5f5df5, #7f60f9);
$dark-bg: radial-gradient(circle at center, #0d0d0d 0%, #000 100%);
$text-color: white;
$font-main: 'Arial', sans-serif;

//nisem uporabil